{% extends 'gooApp/base.html' %}
{% block content %}
    {% for d in details %}
<div class="mt-4 p-4">
    <div class="container p-4 border rounded">
    <div class="card-body p-4">
        <div  class="row">
            <div class="col col-lg-4">
                <img height='250px' class = "card-img-top" src="{{d.image.url}}">
            </div>
            <div class="col col-lg-4">
                <h4 class="card-title">{{d.name}}</h4>
                <p class="cart-text"><strong>About:-</strong>{{d.bio}}</p>
                <p><strong>Phone:-</strong>{{d.phone}}</p>
                <p><strong>Email:-</strong>{{d.Email}}</p>
            </div>
        </div>
    </div>
</div>
</div>
    {% endfor %}

{% endblock %}